<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SummarEyes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- <link rel="stylesheet" href="../static/styles.css"> -->


</head>
<body>
    <div class="chat">
        <h1>CohereConvo</h1>
        <div id="text-message-div">
            <!-- Content goes here -->
        </div>
        <div class="text-area">
            <input type="text" id="text-input" placeholder="Type your message..." required/>
            <button id="send-button" > 
                <img src="../static/send.png" alt="Send" id="send-img" /> 
            </button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <!-- <script src="../static/index.js"></script> -->


</body>
</html>
